# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/

# Trained models
*.keras
*.h5

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db